# Dependencies
node_modules

# Build output
dist
build

# TypeScript incremental cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# Env
.env
.env.local
.env.*.local


**/.vitepress/cache